<tr>
    <td>!id!</td>
    <td>!name!</td>
    <td>!artist!</td>
    <td>!address!</td>
    <td>!day!</td>
    <td>!daytime!</td>
    <td>
        <form action="history_cancle.php" method="get">
            <input type="submit"value="取り消し">
            <input type="hidden" name="mode" value="apply">
            <input type="hidden" name="id" value="!id!">
            <input type="hidden" name="uid" value="!uid!">
        </form>
    </td>
</tr>
