<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>エラー</title>
    <link rel="stylesheet" href="../CSS/homepagecss.css">
    <script>
        // Function to get a cookie by name
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        // Function to display the cookie value
        function displayCookie() {
            let userName = getCookie("name");
            if (userName) {
                document.getElementById("greeting").innerText = `こんにちは、${userName}さん。`;
            }
        }
        // Call the function on page load
        window.onload = displayCookie;
    </script>
</head>
<body>    

<div class="topnav">
    <!-- Placeholder for greeting -->
    <div id="greeting" class="greeting"></div>
    <ul>
        <li><a href="../homepage.html">ホームページ</a></li>
        <li><a href="../mypage/mypage.php">マイページ</a></li>
        <li><a href="../search/search.php">チケット申し込み</a></li>
        <li><a href="../inquiry/inquiry.html">問い合わせ</a></li>
        <li><a href="../login_register/logout.php">ログアウト</a></li>
    </ul>
</div>


    <br><br><br><br>

    
    <div class ="title">
        <p><b>エラーが発生しました。</b></p>
    </div>
    <div class= "main">
        <p class="msg">!message!</p>
        <br>
        <form>
    </div>
        <div class="main">
        <input type="button" value="前画面に戻る" onclick="history.back()">
    </form>
    </div>
</body>
</html>
