<tr>
    <td>!id!</td>
    <td>!name!</td>
    <td>!artist!</td>
    <td>!address!</td>
    <td>!day!</td>
    <td>!daytime!</td>
    <td>
        <form action="result.php" method="get">
            <input type="submit"value="申し込み">
            <input type="hidden" name="mode" value="delete">
            <input type="hidden" name="id" value="!id!">
        </form>
    </td>
</tr>
