<div class="main">
<section>
    <div class="inquiry">
    <table>
        <tr>
            <td><b>No.</b></td>
            <td>!id!</td>
        </tr>
        <tr>
            <td><b>対応状況</b></td>
            <!-- <td>***!status!***</td> -->
            !status!
            <td>
                <form action="manage_inquiry.php" method="post">
                    <input type="submit" value="状態変更">
                    <input type="hidden" name="mode" value="check">
                    <input type="hidden" name="id" value="!id!">
                    <input type="hidden" name="status" value="!status!">
                </form>
            </td>
        </tr>
        <tr>
            <td><b>名前</b></td>
            <td>!name!</td>
        </tr>
        <tr>
            <td><b>メールアドレス</b></td>
            <td>!email!</td>
        </tr>
        <tr>
            <td><b>内容</b></td>
            <td>!text!</td>
        </tr>
        <tr>
            <td><b>公演番号</b></td>
            <td>!lid!</td>
        </tr>
        <tr>
            <td><b>問い合わせ時間</b></td>
            <td>!time!</td>
        </tr>
    </table>
    <br>
    </div>
    <!-- <P>----------------------------------------------------------------</P> -->
</section>
</div>