<tr>
    <td>!id!</td>
    <td>!name!</td>
    <td>!artist!</td>
    <td>!address!</td>
    <td>!day!</td>
    <td>!daytime!</td>
    <td>!count!</td>
    <td>!status!</td>
    <td>
        <form action="manage_live.php" method="post">
            <input type="submit"value="削除">
            <input type="hidden" name="mode" value="delete">
            <input type="hidden" name="id" value="!id!">
        </form>
    </td>
    <td>
        <form action="manage_live_edit.php" method="post">
            <input type="submit"value="編集">
            <input type="hidden" name="mode" value="edit">
            <input type="hidden" name="id" value="!id!">
        </form>
    </td>
    <td>
        <form action="manage_live.php" method="post">
            <input type="submit"value="抽選">
            <input type="hidden" name="mode" value="result">
            <input type="hidden" name="id" value="!id!">
        </form>
    </td>
</tr>
